<!-- <div class="grid">
    <div class="col-12">
      <div class="card">
        <h5>Reporte de crecimiento</h5>
        

        <button pButton pRipple label="Generar Reporte"
         icon="pi pi-file-pdf" 
        (click)="PreviewInvoice()" (click)="collapse()"
        class="p-button-success mr-2"></button>


        <div [class.hidden]="!Collapse" style="margin-top: 20px;">

                <div class="collapse" [ngClass]="{'show': isDateRangeOpen}">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">Rango de Fechas</h5>
                        <ngx-extended-pdf-viewer [src]="pdfurl"></ngx-extended-pdf-viewer>

                      </div>
                    </div>
                  </div>
          </div>
        <div class="flex justify-content-start mb-3">
            <button pButton icon="pi pi-stop" type="button" (click)="cancelar()" label="Cancelar" class="p-button-outlined"></button>

        </div>
      </div>
    </div>
  </div>




 
  



 -->
 <div class="grid">
  <div class="col-12">
    <div class="card">
      <h5>Reporte de crecimiento</h5>
      <button pButton pRipple label="Generar Reporte"
              icon="pi pi-file-pdf" 
              (click)="toggleCollapse()"
              class="p-button-success mr-2">
      </button>
      <h5 class="card-title">Introduzca un Rango de Fechas</h5>
      <form>
        <div class="p-field">
          <label for="fechaInicio">Fecha de Inicio</label>
          <input type="date" id="fechaInicio" name="fechaInicio" [(ngModel)]="fechaInicio" />
        </div>
        <div class="p-field">
          <label for="fechaFin">Fecha de Fin</label>
          <input type="date" id="fechaFin" name="fechaFin" [(ngModel)]="fechaFin" />
        </div>
      </form>
      <div [class.hidden]="!collapse" style="margin-top: 20px;">
        <div class="card">
          <div class="card-body">
            <ngx-extended-pdf-viewer [src]="pdfurl"></ngx-extended-pdf-viewer>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div [ngClass]="{'collapse': !collapse, 'show': collapse}">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Crecimiento de Ventas</h5>
      <ngx-extended-pdf-viewer [src]="pdfurl"></ngx-extended-pdf-viewer>
    </div>
  </div>
</div>
 -->